@media only screen and (min-width: 0px) and (max-width: 480px) {
    
    html {
        overflow-x: hidden;
    }

    .dropdown-content {
        margin-top: -10px;
    }

    #burger-menu-container p {
        margin-top: -5.5vw;
    }

    .services {
        height: 63vw;
        display: block;
    }

    .send-back-service, .pick-up-service, .package-service {
        width: 80%;
       }

    .img-wrapper-product {
        margin-left: 2%;
        width: 95%;
        margin-bottom: -6.3%;
    }

    .product-slide {
        position: relative;
        float: left;
        width: 40%;
        height: 6vw;
        left: 2%;
        top: -1%;
    }

    .product-overlay, .product-overlay2 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 160%;
        height: 15vw;

    }
    
    .img-wrapper-lounge {
        margin-left: 2%;
        margin-top: 30vw;
        width: 95%;
    }

    .lounge-slide {
        position: relative;
        float: left;
        width: 40%;
        left: 2%;
        top: -1%;
    }

    .lounge-overlay {
        width: 160%;
        height: 18vw;
    }

    #lounge-reservation {
        position: relative;
        width: 15vw;
        margin: auto auto auto 0;
    }

    .margin-top {
        clear: both;
        height: 30vw;
        width: 20px;
    }
}